hr(x-show="step2", x-cloak)
div(class="bxm-step-2", x-show="step2", x-cloak)
    table
        tbody
            tr
                td
                    strong
                        | Пігмент
                td
                    strong
                        | Кількість,
                        br
                        | мл
                td
                    strong
                        | Ціна 1 л
                        br
                        | пігменту,
                        br
                        | грн з ПДВ
                td(class="bxm-step-2-right")
                    strong
                        | Ціна пігменту, грн з ПДВ

            template(x-for="(item, index) in pigments" :key="index")
                tr
                    td(x-text="item.name")
                    td(x-text="item.quantity")
                    td
                        input(type="text", class="text-center bxm-step-2-right-inner", x-model="pigments[index]['price']", x-spread="calculate")
                    td(x-text="item.sum")

            tr
                td(colspan="4", class="text-right")
                    | &nbsp;

            tr
                td(colspan="3", class="text-right")
                    | Ціна пігментів,
                    br
                    | грн. з ПДВ
                td(class="bxm-td-number", x-text="pigments_price")
            tr
                td(colspan="3", class="text-right")
                    | Доплата за тонування, грн. з ПДВ
                td(class="bxm-td-number")
                    input(type="text", name="pigments_price_up", class="text-center bxm-step-2-right-inner", x-model="pigments_price_up", x-spread="calculate")
            tr
                td(colspan="3", class="text-right")
                    strong
                        | Загальна вартість тонування, грн. з ПДВ
                td(class="bxm-td-number")
                    strong(x-text="pigments_price_amount")
            tr
                td(colspan="3", class="text-right")
                    | Рекомендована роздрібна вартість продукту-основи, грн. з ПДВ
                td(class="bxm-td-number", x-text="base_price")
            tr
                td(colspan="3", class="text-right")
                    strong
                        | % знижки
                td(class="bxm-td-number")
                    input(type="text", name="base_discount", class="text-center bxm-step-2-right-inner", x-model="base_discount", x-spread="calculate")
            tr
                td(colspan="3", class="text-right")
                    | Вартість продукту-основи зі знижкою, грн з ПДВ
                td(class="bxm-td-number", x-text="base_amount")
            tr
                td(colspan="3", class="text-right")
                    strong
                        | Сума, грн з ПДВ
                td(class="bxm-td-number")
                    strong(x-text="amount")

div(class="bxm-alert", x-show="step2", x-cloak)
    span
        | * Отримання точної передачі кольору можливо при тонуванні фарби в тарі не менше 4 л.