table
    tbody
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | Продукт
            td
                select(name="product", @change="product = $event.target.value; loadParts();", :disabled="!products.length")
                    template(x-if="!product")
                        option
                            | Оберіть
                    template(x-for="item in products", :key="item.id")
                        option(:value="item.id", x-text="item.name")
                include ../../partials/chevrone
            td(rowspan="4", class="bxm-step-1-right")
                template(x-if="photo.length")
                    div(class="bxm-img-wrap")
                        img(:src="photo")
                template(x-if="loading")
                    div(class="bxm-svg-wrap")
                        include ../../partials/spinner
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | Серія кольору
            td
                select(name="part", @change="part = $event.target.value; loadColors();", :disabled="!parts.length")
                    template(x-if="!color")
                        option
                            | Оберіть
                    template(x-for="item in parts", :key="item.id")
                        option(:value="item.id", x-text="item.name")
                include ../../partials/chevrone
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | Номер кольору
            td
                input(style="padding-left:.75em",
                    x-model="color_value",
                    :placeholder="color_placeholder",
                    :disabled="!colors.length",
                    @focus.debounce="list = true; color_placeholder = '';",
                    @blur="color_placeholder = placeholder;"
                )
                include ../../partials/chevrone
                ul(x-show="list", x-cloak, @click.away="list = false")
                    template(x-for="item in colors_filtered", :key="item.id")
                        li(:data-value="item.id", x-text="item.name",
                            @click="color = item.id; list = false; loadPacks(); color_value = item.name;"
                        )
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | Тара
            td
                select(name="pack", @change="pack = $event.target.value; loadPigments();", :disabled="!packs.length")
                    template(x-if="!pack")
                        option
                            | Оберіть
                    template(x-for="item in packs", :key="item.id")
                        option(:value="item.id", x-text="item.name")
                include ../../partials/chevrone
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | База
            td(colspan="2")
                div(class="bxm-base", x-text="base")