//-
    ,
        x-transition:enter="bxm-transition",
        x-transition:enter-start="bxm-transition-1-enter-start",
        x-transition:enter-end="bxm-transition-1-enter-end",
        x-transition:leave="bxm-transition",
        x-transition:leave-start="bxm-transition-1-leave-start",
        x-transition:leave-end="bxm-transition-1-leave-end",

table(x-show="step === 1")
    tbody
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | Продукт
            td
                select(name="product", @change="product = $event.target.value; loadColors();", :disabled="!products.length")
                    template(x-if="!product")
                        option
                    template(x-for="item in products", :key="item.id")
                        option(:value="item.id", x-text="item.name")
            td(rowspan="4", class="bxm-step-1-right")
                div(class="bxm-step-1-right-inner")
                    template(x-if="photo")
                        img(:src="photo")
                    template(x-if="loading")
                        svg(focusable="false", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512", width="40", height="40")
                            path(fill="currentColor", d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z")
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | Номер кольору
            td
                select(name="color", @change="color = $event.target.value; loadPacks()", :disabled="!colors.length")
                    template(x-if="!color")
                        option
                    template(x-for="item in colors", :key="item.id")
                        option(:value="item.id", x-text="item.name")
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | Тара
            td
                select(name="pack", @change="pack = $event.target.value; loadPigments()", :disabled="!packs.length")
                    template(x-if="!pack")
                        option
                    template(x-for="item in packs", :key="item.id")
                        option(:value="item.id", x-text="item.name")
        tr
            td(class="text-right bxm-step-1-left")
                strong
                    | База
            td
                div(class="bxm-base", x-text="base")
