.bx-master-calculator-wrap table {
  width: calc(100% + 1em);
  margin: 0 -0.5em 3em;
}
.bx-master-calculator-wrap table td {
  padding: 0.5em;
}
.bx-master-calculator-wrap table td select {
  display: block;
  border: none;
  background-color: #ddd;
  border-radius: 0;
  width: 100%;
  line-height: 2em;
  cursor: pointer;
}
.bx-master-calculator-wrap table td select:disabled {
  cursor: not-allowed;
}
.bx-master-calculator-wrap table td img {
  display: block;
}
.bx-master-calculator-wrap .button:disabled:hover {
  cursor: not-allowed;
  color: #262626;
  border: 1px solid transparent;
  outline: none;
  background: #fc0;
}
.bx-master-calculator-wrap .button.gray-button:disabled:hover {
  cursor: not-allowed;
  background: transparent;
  border: 1px solid #ccc;
  color: #959595;
}
