.bx-master-calculator-wrap {
  table {
    width: calc(100% + 1em);
    margin: 0 -0.5em 3em;

    td {
      padding: 0.5em;

      select {
        display: block;
        border: none;
        background-color: #ddd;
        border-radius: 0;
        width: 100%;
        line-height: 2em;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }

      img {
        display: block;
      }
    }
  }

  .button:disabled:hover {
    cursor: not-allowed;
    color: #262626;
    border: 1px solid transparent;
    outline: none;
    background: #fc0;
  }

  .button.gray-button:disabled:hover {
    cursor: not-allowed;
    background: transparent;
    border: 1px solid #ccc;
    color: #959595;
  }
}