.bxm-calculator-wrap {
  overflow: hidden;

  .bxm-step-1-left {
    width: 158px;

    @media (max-width: 1023px) {
      width: 92px;
    }
  }

  .bxm-step-1-right {
    width: 14.25em;

    @media (max-width: 575px) {
      display: none;
    }
  }

  .bxm-step-1-right-inner {
    width: 13.25em;
  }

  .bxm-step-2-right {
    width: 7em;
  }

  .bxm-step-2-right-inner {
    width: 6em;
  }

  .bxm-steps {
    display: flex;
  }

  table {
    width: calc(100% + 1em);
    margin: 0 -0.5em;

    td {
      padding: 0.5em;

      select {
        display: block;
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 0;
        width: 100%;
        padding: 0 0.5em;
        height: 2.5em;
        line-height: 2.5em;
        cursor: pointer;
        appearance: none;
        font-size: inherit;

        &:disabled {
          cursor: not-allowed;
          background-color: #eee;
        }
      }

      input {
        background-color: #fff;
        border: 1px solid transparent;
        border-bottom-color: #eee;
        font-size: inherit;
        padding: 0 0.5em;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type=number] {
          -moz-appearance: textfield;
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .bxm-base {
        text-align: left;
        line-height: 40px;
        height: 40px;
        padding: 0 9px;
      }

      svg {
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(1turn); }
      }
    }
  }

  hr {
    margin: 1em 0;
  }

  [x-cloak] {
    display: none !important;
  }
}