doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet", href="template.css")

        link(href="js/scripts.js", rel="preload", as="script")
        link(href="js/alpine.js", rel="preload", as="script")
        link(rel="stylesheet", href="css/styles.css")
        title
            block title
    body
        section(class="section-page")
            div(class="container-middle")
                div(class="row-page")
                    article(class="section-article")
                        div(class="flex-h1")
                            h1(class="title-category-h1")
                                block title
                        div(class="section-content")
                            block main
                    aside(class="aside")
        script(src="js/scripts.js", defer="defer")
        script(src="js/alpine.js", defer="defer")