extends ../layouts/app

block title
    | Тонування матеріалів

block main
    - action = 'ajax.php';

    form(action=action, class="block-form-questions text-center bxm-calculator-wrap", data-placeholder="Оберіть",
        x-data="calculatorData()", x-init="calculatorInit()", @submit.prevent=""
    )
        include ../page/index/step-1
        include ../page/index/step-2