extends ../layouts/app

block title
    | Калькулятор вартості тонування водно-дисперсійних матеріалів ТМ SILTEK

block main
    - action = 'ajax.php';
    - link = '#';

    - step = 1;
    - photo = '';
    - product = '';
    - color = '';
    - pack = '';
    - calculated = false;
    -
        products = {
            id1: '',
            id2: '',
        };
    -
        colors = {
            id1: '',
            id2: '',
        };
    -
        packs = {
            id1: '',
            id2: '',
        };

    - pigments_price = 0;
    - pigments_price_up = 0;
    - pigments_price_amount = 0;
    - base_price = 0;
    - discount = 0;
    - base_amount = 0;
    - amount = 0;
    -
        pigments = {
            id1: {
                name: '',
                quantity: 0,
                price: 0,
            },
            id2: {
                name: '',
                quantity: 0,
                price: 0,
            }
        };

    form(action=action, class="tw-bg-white md:tw-p-7")
        section()
            | ...
        section()
            | ...

//-
    2 экрана
    - товар, цвет, тара,  фото (если хватает места)
    - пигменты, стоимость

    -

    анимация сдвига
    справо налево step 1 -> 2
    и слева на право step 2 -> 1

    step === 1 Назад (ссылка) Далее  (кнопка)
    step === 2 Назад (кнопка) Готово (ссылка)

    при загрузке страницы
        ДАЛЕЕ - заблокировано
        товар, цвет, тара - сброшены
        товар, цвет, тара - заблокированы
        товары - грузим
            передаём mode = products
        товар - разблокируем

    при выборе товара
        ДАЛЕЕ - блокируем
        цвет, тара - сбрасываем
        цвет, тара - блокируем
        цвета - грузим
            передаём mode = colors, product
        цвет - разблокируем

    при выборе цвета
        ДАЛЕЕ - блокируем
        тара - сбрасываем
        тара - блокируем
        тары - грузим
            передаём mode = packs, product, color
        тара - разблокируем

    при выборе тары
        ДАЛЕЕ - блокируем
        пигмены, цены, ... - для второго экрана - грузим
            передаём mode = pigments, product, color, pack, discount
        ДАЛЕЕ- разблокируем

    при выборе кнопки ДАЛЕЕ, кнопки НАЗАД
        меняем экран

    при смене % скидки
        передаём mode = pigments, product, color, pack, discount

        меняем весь второй экран?
