extends ../layouts/app

block title
    | Тонування матеріалів

block main
    - action = 'ajax.php';

    form(action=action, class="block-form-questions text-center bxm-calculator-wrap", x-data="calculatorData()", x-init="loadProducts()", @submit.prevent="")
        include ../page/index/step-1
        include ../page/index/step-2