extends ../layouts/app

block title
    | Калькулятор вартості тонування водно-дисперсійних матеріалів ТМ SILTEK

block main
    - action = 'ajax.php';
    - link = '#';

    form(action=action, class="block-form-questions text-center bx-master-calculator-wrap", x-data="calculatorData()", x-init="loadProducts()", @submit.prevent="")
        include ../page/index/step-1
        include ../page/index/step-2
        include ../page/index/buttons-step-1
        include ../page/index/buttons-step-2